.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.5rem;
    background: var(--gray-700);
    position: relative;
   
    
}

.newTask{
    position: absolute; 
    height: 3.375rem;
    display: flex;
    bottom:calc(-3.375rem/2);
    gap: 0.5rem;
    width: 100%;
    max-width: 46rem;
    
}

.newTask input{
    height: 100%;
    flex: 1; 
    background: var(--gray-500);
    padding: 1rem;
    border: 1px solid var(--gray-700);
    font-size: 1rem;
    border-radius: 0.5rem;
}

.newTask input::placeholder{
    color: var(--gray-300);  
}

.newTask button{
    height: 100%;
    width: 5.625rem;
    background: var(--blue-dark);
    color: var(--gray-100);
    padding: 1rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
}

.newTask button:hover{
    background: var(--blue);
}





